@use '../custom' as *;

.btn-header {
   //bg-color, border, text-color, hover: bg-color, border, text-color
   @include button-variant($primary, transparent, $secondary, darken($primary, 10%), transparent, darken($secondary, 10%));

   @include button-size(1rem, 5rem, 2rem, 0);

   display: block;
   font-weight: 700;
   text-decoration: none;
   text-align: center;
   margin-top: 2rem;

   @include media-breakpoint-up(md){
      display: inline-block;
   }
}

.boton-plan {
   @extend .btn-header;
   border: 1px solid $white;

   @include media-breakpoint-up(md){
      display: block;
   }
}