@use '../custom' as *;
@use '../utils/mixins' as m;

.opiniones {
   h2 {
      @include m.headingBorder($secondary, $primary);
   }
}

.opinion {
   border: .5rem solid $secondary;
   border-radius: 1rem;
   font-size: 1.6rem;
   padding: 2rem 2rem 2rem 6rem;
   position: relative;
   &::before {
      content: '';
      width: 5rem;
      height: 5rem;
      display: block;
      background-image: url('../img/comilla.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 4rem;
      position: absolute;
      top: 0;
      left: .5rem;
   }
}